<% provide(:title, 'About') %>

    <h1>About Us</h1>
    <p>
      The patient strength website is a project to make a site where patients can post updates and thoughts about their illness and receive support from their closest family and friends.  
    </p>
  