<div class="center hero-unit">
  <h1>Welcome to Patient Strength</h1>

  <h2>
    This is the home page for Patient Strength, the site where patients can give updates, and express their thoughts to their closest family and frineds. 
  </h2>

  <%= link_to "Create post!", newpost_path , class: "btn btn-large btn-primary" %>

  <%= link_to "See posts", index_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>